<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>sample.servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>sample.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>sample.servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>sample.servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendOTP</servlet-name>
        <servlet-class>sample.servlet.sendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>sample.servlet.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartServlet</servlet-name>
        <servlet-class>sample.servlet.updateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartServlet</servlet-name>
        <servlet-class>sample.servlet.deleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <servlet-class>sample.servlet.saveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlantServlet</servlet-name>
        <servlet-class>sample.servlet.getPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccountsServlet</servlet-name>
        <servlet-class>sample.servlet.manageAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <servlet-class>sample.servlet.updateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccountServlet</servlet-name>
        <servlet-class>sample.servlet.searchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrderServlet</servlet-name>
        <servlet-class>sample.servlet.deleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managePlantsServlet</servlet-name>
        <servlet-class>sample.servlet.managePlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCategoriesServlet</servlet-name>
        <servlet-class>sample.servlet.manageCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderagainServlet</servlet-name>
        <servlet-class>sample.servlet.orderagainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeProfileServlet</servlet-name>
        <servlet-class>sample.servlet.changeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrderBydateServlet</servlet-name>
        <servlet-class>sample.servlet.searchOrderBydateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendOTP</servlet-name>
        <url-pattern>/sendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartServlet</servlet-name>
        <url-pattern>/updateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartServlet</servlet-name>
        <url-pattern>/deleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <url-pattern>/saveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlantServlet</servlet-name>
        <url-pattern>/getPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccountsServlet</servlet-name>
        <url-pattern>/manageAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <url-pattern>/updateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccountServlet</servlet-name>
        <url-pattern>/searchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrderServlet</servlet-name>
        <url-pattern>/deleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managePlantsServlet</servlet-name>
        <url-pattern>/managePlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCategoriesServlet</servlet-name>
        <url-pattern>/manageCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderagainServlet</servlet-name>
        <url-pattern>/orderagainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeProfileServlet</servlet-name>
        <url-pattern>/changeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrderBydateServlet</servlet-name>
        <url-pattern>/searchOrderBydateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
